---
layout: default
title: Archive
---


<div class="col-md-8">
    {% for post in site.posts %}
        {% if post.cklz %}

            <h2>
                <a class="title" href="{{ post.url | prepend: site.url }}">{{ post.title }}
            </h2>
            <!-- <p class="lead">
                by <a href="index.php">Start Bootstrap</a>
            </p> -->
            <p><span class="glyphicon glyphicon-time"></span> {{ post.date | date: "%F" }}</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>{{post.excerpt}}</p>
            <a class="btn btn-primary" href="{{ post.url | prepend: site.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>

        {% endif %}
   {% endfor %}


    <!-- Pager -->
   <!--  <ul class="pager">
        <li class="previous">
            <a href="#">← Older</a>
        </li>
        <li class="next">
            <a href="#">Newer →</a>
        </li>
    </ul> -->
</div>


<!-- advertising board -->
{% include adboard.html %}

