<!-- <div id="adboard" class="">
    {% if page.xsqt %}
        <img src="{{ "/assets/adimg/xsqt.jpg" | prepend: site.url }}">  
    {% endif %}  
    {% if page.cklz %}
        <img src="{{ "/assets/adimg/1.jpg" | prepend: site.url }}">  
    {% endif %}   
</div>
 -->



<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4" id="adboard">
	<div class="well">
	    {% if page.xsqt %}
	        <img class="img-responsive"  src="{{ "/assets/adimg/xsqt.jpg" | prepend: site.url }}"> 
	    {% endif %}  
	    {% if page.cklz %} 
	        <img class="img-responsive"  src="{{ "/assets/adimg/cklz.jpg" | prepend: site.url }}"> 
	    {% endif %} 

	    <img class="img-responsive"  src="{{ "/assets/adimg/cklz.jpg" | prepend: site.url }}"> 
    </div>

    <!-- Blog Search Well -->
<!--     <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
    </div> -->

    <!-- Blog Categories Well -->
    <!-- <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

    <!-- Side Widget Well -->
   <!--  <div class="well">
        <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div> -->

</div>