<!-- <nav >
<ul >
    <li><a href="{{ "/index.html" | prepend: site.url }}">晓松奇谈</a></li>
    <li><a href="{{ "/archive.html" | prepend: site.url }}">刺客列传</a></li>
</ul>
<p>All Rights Reserved &copy;</p>
</nav> -->



<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="{{ "/index.html" | prepend: site.url }}"><i class="fa fa-fw fa-dashboard"></i> 晓松奇谈</a>
        </li>
        <li>
            <a href="{{ "/archive.html" | prepend: site.url }}"><i class="fa fa-fw fa-bar-chart-o"></i> 刺客列传</a>
        </li>

    </ul>
</div>
<!-- /.navbar-collapse -->