{% include head.html %}
<main>
    <span class="statusbar"></span>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <div>
            <!-- head for whole site  -->
            <header id="sitehead">
                <a href="http://andyljj.github.io/thepeople">THE PEOPLE</a> &nbsp; &nbsp; &nbsp; <span>{{ site.description }}</span>
                 <!-- Share  -->
                {% include scripts/share.html %}    
            </header>
            <!-- side navigation -->
            <nav id="navbar" >
                {% include sidenav.html %}                    
            </nav>
            <!-- Content -->
            <div class="content">
                {{ content }}
            </div>           
        </div>
    </div>
</main>
{% include footer.html %}




